// 颜色定义规范
$color-background = #f1f2f5
$color-background-f9 = #f9f9f9

// 文字颜色
$color-text = #20202E  // 文字色1
$color-text-88 = #888888
$color-text-56 = #56BA15
$color-text-99 = #999999

// 辅助色
$color-white = #ffffff  // 白色
$color-light-gray = #dadada  // 浅浅灰
$color-green = #A1E563 // 绿色
$color-orange = #ff4e00 // 橙色
$color-yellow = #fdfb00 // 黄色
$color-red = #F9543C // 红色

//// 横线色值
$color-row-line = rgba(0, 0, 0, 0.1)
//// 竖线色值
$color-col-line = rgba(0, 0, 0, 0.1)

//字体
$font-family-regular = 'PingFangSC-Regular'
$font-family-light = 'PingFangSC-Light'
$font-family-meddle = 'PingFangSC-Medium'

// 字体大小
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-m = 20px
$font-size-large-l = 21px
$font-size-large-xx = 24px
